<script lang="ts">
  import { onMount } from "svelte";

  export let isAnagram = null;

  const urlParams = new URLSearchParams(window.location.search);
  let string1 = urlParams.get("string1");
  let string2 = urlParams.get("string2");

  onMount(async function () {
    const searchUrl = new URL(import.meta.env.VITE_API_URL);

    if (string1 && string2) {
      searchUrl.searchParams.set("string1", string1);
      searchUrl.searchParams.set("string2", string2);

      try {
        const response = await fetch(searchUrl);
        if (response.ok) {
          const result = await response.json();
          isAnagram = result;
        } else {
          console.error("Internal server error");
        }
      } catch (e) {
        console.error("Couldn't reach the backend");
      }
    }
  });
</script>

<main>
  <h1>Anagram checker</h1>

  <div class="card">
    <form method="GET">
      <label
        >String 1
        <input
          type="text"
          name="string1"
          bind:value={string1}
          required
          autocomplete="off"
        />
      </label>
      <label
        >String 2
        <input
          type="text"
          name="string2"
          bind:value={string2}
          required
          autocomplete="off"
        />
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="card">
    {#if isAnagram == true}
      <p>✓ The two inputs are anagrams of each other.</p>
    {:else if isAnagram == false}
      <p>❌ The two inputs are NOT anagrams of each other.</p>
    {/if}
  </div>
</main>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
  }
  button {
    width: fit-content;
  }
</style>
